@import url("/css/base.css");

.topics-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -0.25rem;
}

.topics-block > div {
    flex: 1 1 400px;
    margin: 0.25rem;
    padding: 1.25rem;
    border-radius: 0.25rem;
    box-shadow: var(--default-shadow);
    background: rgba(255, 255, 255, 0.045);
    
}


.profile-img {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: var(--default-shadow);
    flex-shrink: 0;
}

.profile-img > img {
    position: absolute;
    width: 100%;
}

.profile-img-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.profile-icons {
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--primary-color);
}

.profile-icons a:hover {
    color: var(--secondary-color);
}

.profile-icons a {
    transition: all 200ms ease-in-out;
}

.profile-icons a:active i {
    transform: scale(0.9);
}

.profile-icons a i {
    transition: all 100ms ease-in-out;
}


.profile-block {
    display: flex;
    flex-wrap: wrap;
    margin: -1.25rem;
    margin-bottom: 2rem;
}

.profile-block > div {
    margin: 1.25rem;
}

.profile-info > h2:first-child {
    margin-top: 0;
}

.profile-info {
    flex: 99999 1 auto;
}

.profile-info > div {
    display: flex;

}

.profile-info > div:not(:last-child) {
    margin-bottom: 0.7rem;
    
}

.profile-info dl > span:not(:last-child) {
margin-right: 3rem;  
}
