:root {
  --main-bg-color: aliceblue;
  --bg-color: rgba(173, 210, 244, 0.757);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}

section,
header,
nav,
aside,
main,
footer {
  display: block;
  margin-top: 10px;
}

body {
  background-color: var(--main-bg-color);
  text-align: justify;
}

header {
  height: 80px;
  background-color: var(--bg-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 80px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

nav div {
  background-color: var(--main-bg-color);
  padding: 20px 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

aside {
  background-color: var(--bg-color);
  width: 200px;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.left1 {
  float: left;
}

.right1 {
  float: right;
}

main {
  margin: 10px 235px;
  padding: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

footer {
  background-color: var(--bg-color);
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear {
  clear: both;
}
